@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#logo {
  size: 10%;
}

h1 {
  font-size: 4.5em;
}
.navbar {
  padding-top: 20px;
  height: 100px;
}

.navbar-brand > img {
  width: 90px;
  height: 80px;
  margin-left: 80px;
}

#navMenu {
  margin-right: 50px;
}

#initial {
  height: 750px;
  padding-top: 80px;
  padding-left: 100px;
}

.card-group {
  margin: auto;
  width: 80%;
}

.card-title {
  text-decoration: solid;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
